<!DOCTYPE html>
<html lang="en">
<head>
	<!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta charset="UTF-8">
	<title>Gify</title>
</head>
	
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Gify</a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left" id="searchForm">
	        <div class="form-group">
	          <input type="text" class="form-control" id="searchBar" placeholder="look for a gif">
	        </div>
	        <button type="submit" class="btn btn-default">Search!</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right"> 
	      	<li><a href="/gifs/favorites">Favorites</a></li>
    			<li id="clearButton"><a href="#">Clear</a></li><!-- clear button -->
     	 	</ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<div class="row"> <!-- landing page div for the first loading -->
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-6 col-xs-offset-3 text-center" id="startingDiv">
				<div>
					<strong><p>Search for your favorite gif</p></strong><p></p>
				</div>	
			</div>
		</div>
		<div class="row" id="notEnoughGifsFound"> <!-- no results message in case of less than 5 results -->
			<div class="col-md-6 col-md-offset-3">
				<div class="grayBackground text-center">
					<h5>Unfourtunatly we couldn't find enough gifs to make you happy :-( <br>Please try again</h5>
				</div>
			</div>
		</div>
		<div class="row" id="gifs"> 
			<script id="cardsOfGifs" type="text/x-handlebars-template"> <!-- templating for the gifs -->
				\{{#each gifsResults}}		
					<div class="col-md-4 col-xs-6">		
						<div class="thumbnail box">
							<img id="\{{id}}" src=\{{ images.downsized.url }} />
							<span class="glyphicon glyphicon-star-empty notSelected \{{id}}" aria-hidden="true"></span>
							<span class="glyphicon glyphicon glyphicon-star selected \{{id}}" aria-hidden="true"></span>
						</div>
					</div>
				\{{/each}}
			</script>
		</div>
	</div>
	<!-- jquery -->
  <script
  src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
	<!-- custom script -->
	<script type="text/javascript" src="main.js"></script>
</body>
</html>
